<!DOCTYPE html>
          
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href= https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="media/styles/prostyle.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
              
{% if request.user.is_authenticated %}
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'productscreen' %}">abey.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'productscreen' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">My Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myorders' %}">My Orders</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'product-create' %}">Sell Your Product</a>
              <a class="dropdown-item" href="{% url 'myaccount' %}">My Account</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'contact' %}">Contact us</a>

            </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method = 'GET' action = "{% url 'search' %}">
        <input name = 'q' value = "{{request.GET.q}}" placeholder="Please search here" class="form-control mr-sm-2" type="search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      </div>
    </nav>
  </div>
    {% comment %} <div class="container-fluid mt-4">  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Welcome, {{request.user.first_name}}
    </button></div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hello</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Welcome {{request.user.first_name}} to abey.com, This is your one stop online store for both purchasing as well as selling products
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" href="{% url 'productscreen' %}">Back to Website</button> 
      </div>
    </div>
    </div>
    </div> {% endcomment %}
{% else %}
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'productscreen' %}">abey.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'productscreen' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
          <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
          <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
          </li> 
        </ul>
        <form class="form-inline my-2 my-lg-0" method = 'GET' action = "{% url 'search' %}">
          <input name = 'q' value = "{{request.GET.q}}" placeholder="Please search here" class="form-control mr-sm-2" type="search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
{% endif %}
<hr>
</head>

<body>
  {% block content %}
  {% endblock content %}
  {% block js %}
  {% endblock %}
</body>

<footer>
<hr>
<div class="container">
<h5>Shop with abey.com</h5>
<p> Your one stop online store for both purchasing as well as selling products</p>
</div>
</footer>
</html>